<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Project 2</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>

  <body>
    <div class='flex flex-col bg-auto min-h-full content-between' style="background-image: url(https://www.discgolfpark.com/wp-content/uploads/2020/11/DGP_artikkeli_maa-alueet.jpg);">
      <header class='bg-white text-green-800 text-3xl'>
        <h1 class="font-bold flex justify-center">
          <a href='/'>Project 2</a>
        </h1>
        <nav class="flex justify-center ">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a class="flex justify-start font-bold pr-6" href='/disk'>Disks</a>

            <a class="flex mx-6 justify-center font-bold pl-6" href='/bag'>Your Bag</a>


          {{else}}
            <a href='/login'>Login or Sign-up</a>
          {{/if}}
        </nav>
      </header>
      <main class=''>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer class='fixed bottom-0 w-full text-green-800 bg-white text-3xl py-6 flex justify-center place-content-end'>
        <nav class=" ">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}


            <button class='flex justify-end font-bold' id='logout'>Logout</button>
          {{else}}
            <a href='/login'>Login or Sign-up</a>
          {{/if}}
        </nav>
      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>