<div class='flex justify-center'>
  <div class='bg-green-800 mx-32 my-40 p-6 border border-black rounded'>
    <h2 class='flex text-green-800  text-xl mx-24 border-2 border-black rounded-md bg-white text-bold justify-center'>Login</h2>

    <form id='login-form'>
      <div class='p-4 flex justify-center'>
        <label for=''>email:</label>
        <input class='ml-2 border border-black' type='text' id='email-login' />
      </div>
      <div class='p-4 flex justify-center'>
        <label for=''>password:</label>
        <input class='ml-2 border border-black' type='password' id='password-login' />
      </div>
      <div class='p-4 flex justify-center'>
        <button class='p-1 m-1 bg-yellow-300 border border-black rounded' type='submit'>login</button>
      </div>
    </form>
  </div>
  <div class='bg-green-800 mx-20 my-40 p-6 border border-black rounded'>
    <h2 class="flex text-green-800  text-xl mx-24 border-2 border-black rounded-md bg-white text-bold justify-center" >Signup</h2>

    <form id='signup-form'>
      <div class='m-2 flex justify-center'>
        <label for='name-signup'>first name:</label>
        <input class='ml-2 border border-black' type='text' id='first-name-signup' />
      </div>
      <div class='m-2 flex justify-center'>
        <label for='name-signup'>last name:</label>
        <input class='ml-2 border border-black' type='text' id='last-name-signup' />
      </div>
      <div class='m-2 flex justify-center'>
        <label for='email-signup'>email:</label>
        <input class='ml-2 border border-black' type='text' id='email-signup' />
      </div>
      <div class='m-2 flex justify-center'>
        <label for='password-signup'>password:</label>
        <input class='ml-2 border border-black' type='password' id='password-signup' />
      </div>
      <div class='flex justify-center'>
        <button class='p-2 m-2 bg-yellow-300 border border-black rounded ' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>